
body {
  width: 50%; /* Indique que le corps de la page est fixée à 50% de la largeur de la page du navigateur */
  margin : auto; /* Indique le corps de la page sera centré */
  background-color: navy; /* Indique la couleur de fond du corps de la page est bleu navy */
  color: white; /* Indique que TOUT texte du corps de la page est blanc */
}

h1 {
  text-align: right; /* Indique que le texte du titre est aligné à droite */
}

p {
  font-weight: bold; /* Indique que le texte du paragraphe est en gras */
}

.pair {
  background-color: lightskyblue; /* Indique la couleur de l'élément est bleu ciel clair */
}
