html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  background-color: #2B2B2B;
  color: white;
  font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

table {
  border-collapse: collapse;
  border : 1px solid white;
  background-color: #0077C7;
}

td {
  width: 32px;
  height: 32px;
  border : 1px solid white;
  text-align: center;
}

.case {

}

.correct {
  background-color: #E70C2A;
}

.incorrect {
  background-color: #FFBD0D;
  border-radius: 50%;
}

#precedent {
  margin-top: 1em;
}

blink {
  -webkit-animation: 2s linear infinite condemed_blink_effect; // pour Safari 4.0-8.0
  animation: 2s linear infinite condemed_blink_effect;
}
@-webkit-keyframes condemed_blink_effect { // pour Safari 4.0-8.0
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes condemed_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#comment {
  font-size: 1.5em;
  margin-bottom: 0.67em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
