body {
  background: linear-gradient(blue, red);
  font-family: "Comic Sans MS";
	color: white;
}

a {
color : pink;
}

h1 {
  text-align: right;
}

h2 {
  text-align: left;
}

img {
width : 500px;
}

h2, th {
  background-color: white;
  color: black;
}

p {
  font-style: italic;
}

#photo {
  text-align: center;
}

ul li {
  font-weight: bold;
}

ol li {
 list-style : lower-roman;
}

table {
  width: 100%;
}

td {
  border: 1px dashed white;
  text-align : right;
}
