body {
  background-image: url("https://cdn.pixabay.com/photo/2018/02/18/20/29/computer-3163436_960_720.png");
  font-family: "Verdana";
}

h1 {
  background-color: white;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
