html, body {
  width : 100vw;
  height : 100vh;
  display: flex;
}
body {
  align-items: center;
  justify-content: center;
  color : white;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: black;
}

p {
  font-style: italic;
  font-size: 3em;
  font-family:"Verdana";
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  font-weight: bold;
}

#rafraichir {
  position: absolute;
  top : 0;
  right : 0;
}
